/* About Us CSS */
.page-id-260 .brands-section {
	display: none;
}


.page-id-260 .site-main {
	margin-top: 30px;
}

#main .bewear-about-features .widget_woothemes_features .features .feature img {
	margin: 0 auto;
	height: 350px;
    width: auto;
}

#main .widget_woothemes_features .feature h3 {
	text-align: center;
	margin-top: 1.733em;
}

#main .widget_woothemes_features .feature .feature-content {
	text-align: justify;
}

#main .kc_tabs.group {
	opacity: 1 !important;
}

@media screen and (min-width: 768px) {
	#main .bewear-process .block.col-sm-4:nth-child(2) {
		width: 66.6667%;
	}
}